# Database connection string
DB_SOURCE=postgresql://<db_user>:<db_password>@<db_host>:<db_port>/<db_name>?sslmode=disable

# Path to migration files
MIGRRATION_URL=./internal/db/migrations

# Allowed frontend origins (for CORS)
ALLOWED_ORIGINS=http://localhost:3000,https://your-production-domain.com

# Server addresses
HTTP_SERVER_ADDRESS=:8080
GRPC_SERVER_ADDRESS=:9090

# JWT Token configs
TOKEN_SYMMETRIC_KEY=your-32-char-secret-key-here
ACCESS_TOKEN_DURATION=1m
REFRESH_TOKEN_DURATION=24h

# Environment type: dev, staging, prod
ENVIRONMENT=dev

# Redis server address
REDIS_ADDRESS=127.0.0.1:6379

# Email configuration
EMAIL_SENDER_NAME=JoinLove
EMAIL_SENDER_ADDRESS=your-email@example.com
EMAIL_SENDER_PASSWORD=your-email-password
POSTGRES_PORT=postgres_port
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
